Ce code permet de recuperer les 10 entreprises américaine, avec la plus grande capitalisation boursière.
Pour cela, nous allons recuperer les données historiques de ces entreprises sur Yahoo Finance.
Nous allons d'abbord installer les librairies qui nous intéresses.

In [ ]:
!pip install pandas yfinance requests lxml openpyxl

L'idée initale était de récuperait les 500 entreprises du S&P 500, qui est un indice boursier avec les 500 entreprises américaines ayant la plus grande capitalisation boursière.
Cependant, la quantité de données étant trop conséquent, j'ai decidé de prendre uniquement les 10 premières.

In [19]:
import yfinance as yf
import pandas as pd
import requests

# Step 1: Récupérer la liste des symboles des actions
#url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
#tables = pd.read_html(url)
#sp500_df = tables[0] # La première table est celle qui nous intéresse
#tickers = sp500_df["Symbol"].tolist()
#tickers = ["AAPL", "NVDA", "MSFT", "AMZN", "GOOGL","META","TSLA","BRYN.HA","UNH","JNJ","V","PG","JPM","HD","MA","CVX","PFE","XOM","ABBV","PEP"]
tickers = ["AAPL", "NVDA", "MSFT", "AMZN", "GOOGL","META","TSLA","BRYN.HA","UNH","JNJ"]
# Step 2: télécharger les données historiques pour chaque action
data_list = []
for ticker in tickers:
    try:
        stock_data = yf.download(ticker, start="2015-01-01", end="2024-12-31", interval="1d")
        stock_data["Ticker"] = ticker  # On ajoute une colonne pour le symbole de l'action
        stock_data.reset_index(inplace=True)
        stock_data.columns = [None] * len(stock_data.columns)
        data_list.append(stock_data)
    except:
        print(f"Failed to get data for {ticker}")

# Step 3: Combiner les données en un seul DataFrame
all_stocks_df = pd.concat(data_list, ignore_index=True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

On récupere le df, et on prend uniquement les colonnes qui nous intéresse.

In [20]:
all_stocks_df.columns = ["Date", "Close", "High", "Low", "Open", "Volume", "Ticker"]
all_stocks_df

,Date,Close,High,Low,Open,Volume,Ticker
0,2015-01-02,24.320431,24.789800,23.879980,24.778677,212818400,AAPL
1,2015-01-05,23.635290,24.169170,23.448433,24.089088,257142000,AAPL
2,2015-01-06,23.637510,23.897776,23.274916,23.699796,263188400,AAPL
3,2015-01-07,23.968960,24.069062,23.735387,23.846612,160423600,AAPL
4,2015-01-08,24.889908,24.947745,24.180292,24.298192,237458000,AAPL
...,...,...,...,...,...,...,...
24818,2024-12-23,144.116409,144.175930,142.310855,143.481492,8720800,JNJ
24819,2024-12-24,144.691803,144.691803,143.183869,143.848547,3164100,JNJ
24820,2024-12-26,144.423935,145.207655,143.937821,144.354484,4656300,JNJ
24821,2024-12-27,143.898148,145.435842,143.531075,143.719569,5588300,JNJ
24822,2024-12-30,142.201721,143.729500,141.814819,143.689810,6268700,JNJ

On exporte les données sous forme de fichier Excel.

In [21]:
all_stocks_df.to_excel('data.xlsx')